# GitGuardian pre-commit configuration
# Prevents secrets from being committed to the repository
# See: https://docs.gitguardian.com/ggshield-docs/integrations/git-hooks/pre-commit

repos:
  - repo: https://github.com/gitguardian/ggshield
    rev: v1.33.0
    hooks:
      - id: ggshield
        language_version: python3
        stages: [pre-commit]
